html, body {
    overflow: hidden;
}

body {
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

table {
    background-color: rgba(0, 0, 0, 0.562);
    padding: 5px;
    border-radius: 8px;
    width: 80%;
    margin: 0 auto;
}

header h1 {
    text-align: center;
    margin-top: 30px;
    color: #fff;
}

section h2 {
    text-align: center;
    margin-top: 30px;
    color: #fff;
}

td {
    color: #fff;
    padding: 15px;
    text-align: center;
}

th {
    padding: 15px;
    text-align: center;
    color: #fff;
}

a {
    color: #1bf3ab;
}